<link rel="stylesheet" type="text/css" href="/styles/banner.css">
<link rel="stylesheet" type="text/css" href="/styles/button.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">
<link rel="stylesheet" type="text/css" href="/styles/table.css">

<div class="banner">
  <h1>My Budgets</h1>
</div>
<br></br>

<div class="wrapper">
  <table class="table" align="center">
    <tr>
      <th>Budget Name</th>
      <th>Budget Amount</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>


  <% for budget in @budgets %>

  <tr>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.budget_name %></a></td>


    <td><a href="/budgets/<%= budget.id %>"><%= budget.budget_amount %></a></td>


    <td><a href="/budgets/<%= budget.id %>"><%= budget.start_time %></a></td>


    <td><a href="/budgets/<%= budget.id %>"><%= budget.end_time %></a></td>

  </tr>
  <% end %>

  </table>
</div>
<br></br>

<div class="wrapper">
  <div class="buttons">
    <a href="/budgets/new">New Budget</a>
  </div>
</div>


<div class="info_text">
  <p>Click on any budget to edit ro delete the budget</p>
</div>
