<h1>My Budgets</h1>

<table>
  <tr>
    <th>Budget Name</th>
    <th></th>
    <th>Budget Amount</th>
    <th></th>
    <th>Start Time</th>
    <th></th>
    <th>End Time</th>
    <th></th>
  </tr>

  <% for budget in @budgets %>

  <tr>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.budget_name %></a></td>

    <td>|</td>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.budget_amount %></a></td>

    <td>|</td>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.start_time %></a></td>

    <td>|</td>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.end_time %></a></td>

    <td>|</td>
  </tr>
  <% end %>

</table>
<br></br>

<a href="/budgets/new">New Budget</a>
<br></br>

<p>Click on a budget to delete or edit it</p>
