<link rel="stylesheet" type="text/css" href="/styles/banner.css">
<link rel="stylesheet" type="text/css" href="/styles/button.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">

<div class="banner">
  <h1>Edit Transaction: £<%= @transaction.transaction_amount.to_i %></h1>
</div>
<br></br>

<div class="wrapper">
  <h2>Edit <%= @transaction.transaction_amount %></h2>
  <form method="POST" action="/transactions/<%= @transaction.id %>">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="transaction_amount">Transaction Amount (£):</label>
        <input type="number" name="transaction_amount" id="transaction_amount" value="<%= @transaction.transaction_amount %>"/>
      </div>

      <div class="form-el">
        <label for="merchant_id_select">Select Merchant Id:</label>
          <select class="buttons" name="merchant_id" id="merchant_id_select" selected="<%= @transaction.merchant_id  %>">
            <% @merchants.each do |merchant| %>
              <% if merchant.id == @transaction.merchant_id %>
                <option value=<%= merchant.id %> selected><%= merchant.merchant_name.capitalize %></option>
              <% else %>
                <option value=<%= merchant.id %>><%= merchant.merchant_name.capitalize %></option>
              <% end %>
            <% end %>
            </select>
      </div>

      <div class="form-el">
        <label for="tag_id_select">Select Tag Id:</label>
        <select class="buttons" name="tag_id" id="tag_id_select" selected="<%= @transaction.tag_id  %>">

          <% @tags.each do |tag| %>
            <% if tag.id == @transaction.tag_id %>
              <option value=<%= tag.id %> selected><%= tag.tag_name.capitalize %></option>
            <% else %>
              <option value=<%= tag.id %>><%= tag.tag_name.capitalize %></option>
            <% end %>
          <% end %>
        </select>
      </div>

      <label for="essential">Essential?:</label>
      <select class="buttons" name="essential">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>


      <div class="form-el">
        <label for="time_added">Time Added:</label>
        <input type="date" name="time_added" id="time_added" value="<%= @transaction.time_added %>"/>
      </div>


      <div class="form-el">
        <input type="submit" value="Update Transaction" class="buttons">

    </div>
  </form>
</div>
